<template>
  <v-row>
    <v-col v-for="achievement in achievements" cols="6">
      <v-card outlined class="mx-1">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-flex class="justify-center success-disabled" :id="achievement.id" v-on="on">
              <v-img
                      class="ml mx-auto"
                      style
                      contain
                      max-width="40px"
                      max-height="40px"
                      :src="require('../../src/assets/Equipments/'+achievement.image)"
              />
              <v-card-title
                class="minecraft-font text-center mx-auto"
                style="font-size:12px; padding:0; width:fit-content"
              >{{achievement.name}}</v-card-title>
            </v-flex>
          </template>
          <span>
            "{{achievement.description}}"
            <br />
            Requis : {{achievement.requirement}}
          </span>
        </v-tooltip>
        <!-- <v-col cols="3">
          <v-card-title class="minecraft-font" style="font-size:12px">{{achievement.name}}</v-card-title>
          <v-card-subtitle>{{achievement.description}}</v-card-subtitle>
          *


          <v-tooltip left>
                        <template v-slot:activator="{ on }">
                            <p class="minecraft-font" v-on="on">DPS : {{dpsDamage}}</p>
                        </template>
                        <span>Damage Per Second</span>
                    </v-tooltip>
        </v-col>-->
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Achievements",
  props: {
    "achievements": Array,
    "checkAchievements": Function
  },
  data() {
    return {};
  },
  mounted() {
    this.checkAchievements(true);
  }
};
</script>

<style scoped>
</style>