<template>
    <v-dialog
            v-model="properties.active"
            width="700"
    >
        <v-card>
            <v-card-title
                    class="green darken-2 white--text minecraft-font"
                    primary-title
            >
                IDENTIFIEZ VOUS
                <v-spacer/>
                <v-btn
                        @click="properties.active = false"
                        icon
                >
                    <v-icon class="white--text display-1">mdi-close</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-title class="headline">Connexion</v-card-title>
            <v-form
                    ref="formLogin"
                    class="mx-7"
                    v-model="formLogin.valid"
            >
                <v-text-field
                        :loading="formLogin.loading"
                        :rules="rules.login"
                        label="Login"
                        required
                        v-model="formLogin.data.login"
                />
                <v-text-field
                        :loading="formLogin.loading"
                        :append-icon="formLogin.showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="rules.password"
                        :type="formLogin.showPassword ? 'text' : 'password'"
                        @click:append="formLogin.showPassword = !formLogin.showPassword"
                        label="Mot de passe"
                        required
                        v-model="formLogin.data.password"
                />
                <v-row class="mt-5 mb-7 justify-center">
                    <v-btn
                            @click="login"
                            :loading="formLogin.loading"
                            :disabled="!formLogin.valid"
                            class="mb-2"
                            color="success"
                    >
                        Connexion
                        <v-icon class="ml-2">mdi-login</v-icon>
                    </v-btn>
                </v-row>
            </v-form>
            <v-divider class="mx-5"/>
            <v-card-title class="headline">Inscription</v-card-title>
            <v-form
                    ref="formSignIn"
                    class="mx-7"
                    v-model="formSignIn.valid"
            >
                <v-text-field
                        :loading="formSignIn.loading"
                        :rules="rules.mail"
                        label="Mail"
                        required
                        v-model="formSignIn.data.mail"
                />
                <v-text-field
                        :loading="formSignIn.loading"
                        :rules="rules.login"
                        label="Login"
                        required
                        v-model="formSignIn.data.login"
                />
                <v-text-field
                        :loading="formSignIn.loading"
                        :append-icon="formSignIn.showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="rules.password"
                        :type="formSignIn.showPassword ? 'text' : 'password'"
                        @click:append="formSignIn.showPassword = !formSignIn.showPassword"
                        label="Mot de passe"
                        required
                        v-model="formSignIn.data.password"
                />
                <v-row class="mt-5 justify-center">
                    <v-btn
                            @click="signIn"
                            :loading="formSignIn.loading"
                            :disabled="!formSignIn.valid"
                            class="mb-2"
                            color="success"
                    >
                        Inscription
                        <v-icon class="ml-2">mdi-account-plus</v-icon>
                    </v-btn>
                </v-row>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "AuthDialog",
        props: {
            properties: Object
        },
        data: () => ({
            formLogin: {
                loading: false,
                valid: true,
                showPassword: false,
                data: {
                    login: '',
                    password: ''
                }
            },
            formSignIn: {
                loading: false,
                valid: true,
                showPassword: false,
                data: {
                    login: '',
                    password: '',
                    mail: ''
                }
            },
            rules: {
                login: [
                    v => !!v || 'Login requis',
                ],
                password: [
                    v => !!v || 'Mot de passe requis',
                ],
                mail: [
                    v => !!v || 'Mail requis',
                    v => /.+@.+\..+/.test(v) || "Le mail doit être valide",
                ]
            }
        }),
        methods: {
            signIn() {
                this.formSignIn.loading = true;
                fetch(process.env.VUE_APP_API_URL + '/user/create', {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'POST',
                    body: JSON.stringify(this.formSignIn.data)
                }).then(response => {
                    switch (response.status) {
                        case 200:
                            response.json().then(data => {
                                this.saveToken(data.user, data.token);
                            });
                            this.$store.state.snackbar.color = 'success';
                            this.$store.state.snackbar.text = 'Inscrit avec succès';
                            this.$store.state.snackbar.active = true;
                            this.$refs.formSignIn.reset();
                            break;
                        case 403:
                            this.$store.state.snackbar.color = 'error';
                            this.$store.state.snackbar.text = 'Login déjà utilisé';
                            this.$store.state.snackbar.active = true;
                            break;
                        default:
                            this.$store.state.snackbar.color = 'error';
                            this.$store.state.snackbar.text = "Erreur lors de l'inscription";
                            this.$store.state.snackbar.active = true;
                            break;
                    }
                }).catch((e) => {
                    console.error(e);
                    this.$store.state.snackbar.color = 'error';
                    this.$store.state.snackbar.text = "Erreur lors de l'inscription";
                    this.$store.state.snackbar.active = true;
                });
                this.formSignIn.loading = false;
            },
            login() {
                this.formLogin.loading = true;
                fetch(process.env.VUE_APP_API_URL + '/user/login', {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'POST',
                    body: JSON.stringify(this.formLogin.data)
                }).then(response => {
                    switch (response.status) {
                        case 200:
                            response.json().then(data => {
                                this.saveToken(data.user, data.token);
                            });
                            this.$store.state.snackbar.color = 'success';
                            this.$store.state.snackbar.text = 'Connecté';
                            this.$store.state.snackbar.active = true;
                            this.$refs.formLogin.reset();
                            break;
                        case 401:
                            this.$store.state.snackbar.color = 'error';
                            this.$store.state.snackbar.text = 'Identifiants incorrects';
                            this.$store.state.snackbar.active = true;
                            break;
                        default:
                            this.$store.state.snackbar.color = 'error';
                            this.$store.state.snackbar.text = "Erreur lors de la connexion";
                            this.$store.state.snackbar.active = true;
                            break;
                    }
                }).catch((e) => {
                    console.error(e);
                    this.$store.state.snackbar.color = 'error';
                    this.$store.state.snackbar.text = "Erreur lors de la connexion";
                    this.$store.state.snackbar.active = true;
                });
                this.formLogin.loading = false;
            },
            saveToken(user, token) {
                localStorage.setItem('user', user);
                localStorage.setItem('token', token);
                this.$store.state.loggedIn = true;

                window.location.reload();
                this.properties.active = false;
            },
        }
    }
</script>

<style scoped>

</style>