<template>
    <v-card>
        <template v-if="show">
            <v-card-title class="layout justify-center minecraft-font"> STAGE {{stageInfo.lvl}} : {{stageInfo.lvlname}}
            </v-card-title>
            <div class="layout  justify-center minecraft-font">{{stageInfo.mob.name}}</div>

            <v-img :src="require('../../src/assets/Biomes/'+stageInfo.urllvl)" @click="attackClick"
                   class=" d-flex align-end">
                <v-col cols="6" offset="3">
                    <div id="damageBox"></div>
                    <v-progress-linear
                            :color="hpColor"
                            :value="percentLeft"
                            background-opacity="0.5"
                            center
                            height="25"
                            rounded
                    >

                        <strong class="minecraft-font">{{
                            $format(Math.round(stageInfo.mob.hpleft).toFixed(0))}}</strong>

                    </v-progress-linear>
                </v-col>


                <v-img
                        :src="require('../../src/assets/Mobs/'+stageInfo.mob.id+'/sprite.png')"
                        class="mx-auto item disintegration-target"
                        contain
                        id="mobSprite"
                        max-height="220px"
                        max-width="220px"
                />
            </v-img>

            <v-card-text>
                <v-row>
                    <v-col cols="4">


                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <p class="minecraft-font" v-on="on">DPC : {{$store.state.dpcDamage}}</p>
                            </template>
                            <span>Dégât Par Clic</span>
                        </v-tooltip>
                    </v-col>

                    <v-col cols="4">
                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <p class="minecraft-font" v-on="on">DPS : {{$store.state.dpsDamage}}</p>
                            </template>
                            <span>Dégât Par Seconde</span>
                        </v-tooltip>
                    </v-col>


                    <v-col cols="12">
                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <div class="d-flex flex-row align-start">
                                    <span class="minecraft-font" v-on="on"> XP : {{ $format(xp) }}

                                    </span>
                                    <v-img
                                            :src="require('../../src/assets/Equipments/Experience_Orb.gif')"
                                            contain
                                            max-height="20px"
                                            max-width="20px"/>
                                </div>


                            </template>
                            <span>Expériences gagnées en tuant les monstres</span>
                        </v-tooltip>
                    </v-col>
                    <v-col cols="12">
                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <div class="d-flex flex-row align-start">
                                    <span class="minecraft-font" v-on="on"> Diamants : {{$format(diamonds)}}

                                    </span>
                                    <v-img :src="require('../../src/assets/Equipments/diamond.gif')" contain
                                           max-height="30px"
                                           max-width="30px">
                                    </v-img>
                                </div>


                            </template>
                            <span>Diamants gagné en tuant les monstres</span>
                        </v-tooltip>
                    </v-col>
                </v-row>
            </v-card-text>
        </template>
    </v-card>
</template>

<script>
    export default {
        name: "Clicker",
        props: {
            checkAchievements: Function
        },
        data() {
            return {
                mobKilled: false,
                show: false,
                experiencesDropped: 200,
                fadeinandout: [{opacity: 1, easing: 'ease-out'},
                    {opacity: 0.5, easing: 'ease-in'},
                    {opacity: 0}],
            }
        },
        mounted() {
            if(!!localStorage.getItem('token')){
                this.initSave();
            }
            else{
                this.init();
            }

        },
        methods: {
            init() {
                let mob = {};
                let stateinfo = {};
                mob.name = "Renard";
                mob.id = "Fox";
                mob.hp = 10;
                mob.hpleft = 10;
                mob.mobKilled = false;
                stateinfo.mob = mob;
                stateinfo.lvl = 1;
                stateinfo.lvlname = "Foret de bouleaux";
                stateinfo.urllvl = 'Birch_Forest.png';
                this.$store.state.stageInfo = stateinfo;
                this.show = true;
            },
            initSave(){
                let lvlStage=this.$store.state.stageInfo.lvl;
                let indexBiomes = Math.floor((lvlStage - 1) / 10) + 1;
                let lengthMax = this.$store.state.biomes.length;
                let biomeActuel;
                if ((indexBiomes % lengthMax) === 0) {
                    biomeActuel = this.$store.state.biomes[lengthMax - 1];
                } else {
                    biomeActuel = this.$store.state.biomes[(indexBiomes % lengthMax) - 1];
                }

                let mobtoInit={};
                let indexMob = Math.floor(Math.random() * biomeActuel.mobs.length);
                this.$store.state.mobs.forEach(mob => {
                    if (mob.id === biomeActuel.mobs[indexMob]) {
                        mobtoInit.name=mob.name;
                        mobtoInit.id=mob.id;
                        mobtoInit.hp= 10 * (Math.pow(1.1,lvlStage));
                        mobtoInit.hpleft=mobtoInit.hp;
                        this.mobKilled = false;
                        this.$store.state.stageInfo.mob= mobtoInit;
                        this.$store.state.stageInfo.lvlname = biomeActuel.name;
                        this.$store.state.stageInfo.urllvl = biomeActuel.image;
                    }
                });

                this.show = true;




            },
            attackClick() {
                if (!this.mobKilled) {
                    let index = Math.floor(Math.random() * 4) + 1;
                    let hurtAudio = new Audio(require('../../src/assets/Mobs/' + this.$store.state.stageInfo.mob.id + '/hurt' + index + '.ogg'));
                    hurtAudio.play();
                    let mob = document.getElementById('mobSprite');
                    mob.style.position = 'relative';
                    let alertDamage = document.createElement('div');
                    alertDamage.textContent = this.$format(this.$store.state.dpcDamage);
                    alertDamage.style.color = "red";
                    alertDamage.style.fontWeight = "bold";
                    alertDamage.style.fontFamily = "VCR OSD Mono";
                    alertDamage.style.fontSize = "30px";
                    alertDamage.style.textAlign = "center";
                    alertDamage.style.position = "absolute";
                    alertDamage.style.bottom = '0px';
                    alertDamage.style.left = '50%';
                    document.getElementById('damageBox').appendChild(alertDamage);
                    let opacity = 1;
                    let position = 0;
                    let id = setInterval(() => {
                        if (!opacity) clearInterval(id);
                        alertDamage.style.opacity = opacity;
                        alertDamage.style.bottom = position + '%';
                        opacity -= 0.2;
                        position += 5;
                    }, 50);
                    setTimeout(function () {
                            alertDamage.remove();
                        }, 1000
                    );
                    this.$store.state.stageInfo.mob.hpleft = (this.$store.state.stageInfo.mob.hpleft - this.$store.state.dpcDamage);


                    if (this.$store.state.stageInfo.mob.hpleft <= 0) {
                        let audio = new Audio(require('../../src/assets/Mobs/' + this.$store.state.stageInfo.mob.id + '/death.ogg'));
                        audio.play();
                        this.mobKilled = true;
                        this.$store.state.stageInfo.mob.hpleft = 0;
                        let opacity = 100;
                        let angle = 0;
                        let idDeath = setInterval(() => {
                            mob.style.transform = "rotate(" + angle + "deg)";
                            mob.style.opacity = opacity + '%';
                            angle += 15;
                            opacity -= 10;
                            if (opacity === 0) {

                                mob.style.transform = "rotate(0deg)";
                                mob.style.opacity = '100%';
                                clearInterval(idDeath);
                                this.nextStage();
                            }
                        }, 30);
                    } else {
                        let upping = true;
                        let bottom = 1;
                        let idMob = setInterval(() => {
                            if (bottom === 0) clearInterval(idMob);
                            mob.style.bottom = bottom + 'px';
                            if (upping) {
                                bottom++;
                                if (bottom > 20) upping = false
                            } else {
                                bottom--;
                            }
                        }, 1);
                    }

                }
            },
            attackdps() {
                if (this.$store.state.dpsDamage !== 0) {


                    if (!this.mobKilled) {
                        let index = Math.floor(Math.random() * 4) + 1;
                        let hurtAudio = new Audio(require('../../src/assets/Mobs/' + this.$store.state.stageInfo.mob.id + '/hurt' + index + '.ogg'));
                        hurtAudio.play();
                        let mob = document.getElementById('mobSprite');
                        mob.style.position = 'relative';


                        if (typeof this.particleCtx !== "undefined") {
                            this.particleCtx.clearRect(0, 0, window.innerWidth, window.innerHeight);
                        }
                        document.getElementsByClassName("canvas").forEach((e) => {
                            e.remove();
                        });
                        let alertDamage = document.createElement('div');
                        alertDamage.textContent =this.$store.state.dpsDamage;
                        alertDamage.style.color = "red";
                        alertDamage.style.fontWeight = "bold";
                        alertDamage.style.fontFamily = "VCR OSD Mono";
                        alertDamage.style.fontSize = "30px";
                        alertDamage.style.textAlign = "center";
                        alertDamage.style.position = "absolute";
                        alertDamage.style.bottom = '0px';
                        alertDamage.style.left = '50%';
                        document.getElementById('damageBox').appendChild(alertDamage);
                        let opacity = 1;
                        let position = 0;
                        let id = setInterval(() => {
                            if (!opacity) clearInterval(id);
                            alertDamage.style.opacity = opacity;
                            alertDamage.style.bottom = position + '%';
                            opacity -= 0.2;
                            position += 5;
                        }, 50);
                        setTimeout(function () {
                                alertDamage.remove();
                            }, 1000
                        );
                        this.$store.state.stageInfo.mob.hpleft = (this.$store.state.stageInfo.mob.hpleft - this.$store.state.dpsDamage);


                        if (this.$store.state.stageInfo.mob.hpleft <= 0) {
                            let audio = new Audio(require('../../src/assets/Mobs/' + this.$store.state.stageInfo.mob.id + '/death.ogg'));
                            audio.play();
                            this.mobKilled = true;
                            this.$store.state.stageInfo.mob.hpleft = 0;
                            let opacity = 100;
                            let angle = 0;
                            let idDeath = setInterval(() => {
                                mob.style.transform = "rotate(" + angle + "deg)";
                                mob.style.opacity = opacity + '%';
                                angle += 15;
                                opacity -= 10;
                                if (opacity === 0) {

                                    mob.style.transform = "rotate(0deg)";
                                    mob.style.opacity = '100%';
                                    clearInterval(idDeath);
                                    this.nextStage();
                                }
                            }, 30);
                        } else {
                            let upping = true;
                            let bottom = 1;
                            let idMob = setInterval(() => {
                                if (bottom === 0) clearInterval(idMob);
                                mob.style.bottom = bottom + 'px';
                                if (upping) {
                                    bottom++;
                                    if (bottom > 20) upping = false
                                } else {
                                    bottom--;
                                }
                            }, 1);
                        }
                    }
                }
            },
            nextStage() {
                this.$store.state.stageInfo.lvl++;
                this.$store.state.stageInfo.mob.hp = this.$store.state.stageInfo.mob.hp * 1.1;
                this.$store.state.stageInfo.mob.hpleft = this.$store.state.stageInfo.mob.hp;
                this.mobKilled = false;
                let indexBiomes = Math.floor((this.$store.state.stageInfo.lvl - 1) / 10) + 1;
                let lengthMax = this.$store.state.biomes.length;
                let biomeActuel;
                if ((indexBiomes % lengthMax) === 0) {
                    biomeActuel = this.$store.state.biomes[lengthMax - 1];
                } else {
                    biomeActuel = this.$store.state.biomes[(indexBiomes % lengthMax) - 1];
                }

                this.$store.state.stageInfo.lvlname = biomeActuel.name;
                this.$store.state.stageInfo.urllvl = biomeActuel.image;
                let indexMob = Math.floor(Math.random() * biomeActuel.mobs.length);
                this.$store.state.mobs.forEach(mob => {
                    if (mob.id === biomeActuel.mobs[indexMob]) {
                        this.$store.state.stageInfo.mob.name = mob.name;
                        this.$store.state.stageInfo.mob.id = mob.id;
                    }
                });
            },
            experiencesDrop() {
                let experiencesTotal = Math.trunc(this.xp + this.experiencesDropped);
                this.experiencesDropped = this.experiencesDropped * 1.05;
                this.$store.state.xp = experiencesTotal;
                this.diamondDrop();
            },
            diamondDrop() {
                let randomChance = Math.random() * 100;
                if (randomChance <= this.$store.state.dropRateDiamonds) {
                    let diamondDrop = Math.floor(Math.random() * 10) + 1;
                    this.$store.state.diamonds += diamondDrop;
                }
            },

        },


        computed: {
            mobs() {
                return this.$store.state.mobs;
            },
            biomes() {
                return this.$store.state.biomes;
            },
            xp() {
                return this.$store.state.xp;
            },
            diamonds() {
                return this.$store.state.diamonds;
            },
            hpColor() {
                let value = this.percentLeft;
                if (value > 50) {
                    return "green"
                } else if (value > 25) {
                    return "orange"
                } else {
                    return "red"
                }
            },
            percentLeft() {
                return this.$store.state.stageInfo.mob.hpleft / this.$store.state.stageInfo.mob.hp * 100
            },
            stageInfo() {
                return this.$store.state.stageInfo;
            }
        },
        watch: {
            mobKilled() {
                if (this.mobKilled) {
                    this.experiencesDrop();
                    //this.nextStage();
                }
            },
            show() {
                if (this.show) {
                    setInterval(() => {
                        this.attackdps();
                    }, 1000);

                    return this.stageInfo.mob.hpleft / this.stageInfo.mob.hp * 100
                }
            }
        }
    }

</script>

<style scoped>
    #damageBox {
        height: 100px;
        position: relative
    }
</style>