<template>
    <v-row>
        <v-col cols="12" v-for="enchantment in enchantments">
            <v-card
                    class="mx-1"
                    outlined
            >
                <v-row>
                    <v-col cols="2">
                        <v-img
                                :src="require('../../src/assets/Enchantments/'+enchantment.image)"
                                class="ml-1"
                                contain
                        />
                    </v-col>

                    <v-col cols="4">
                        <v-card-title class="minecraft-font">{{enchantment.name.replace('_',' ')}}</v-card-title>
                        <v-card-subtitle>{{enchantment.description}}</v-card-subtitle>
                    </v-col>


                    <v-col class="d-flex align-center" cols="4">

                        <template v-for=" enchantmentbuy in checkEnchantmentBuy">

                            <template v-if="enchantmentbuy.item===enchantment">
                                <template v-if="enchantmentbuy.check">
                                    <v-btn @click="changeCheck(enchantmentbuy.item)" disabled>
                                        Enchanter
                                    </v-btn>
                                </template>
                                <template v-else>
                                    <template v-if="enchantment.cout<=diamonds">
                                        <v-btn @click="changeCheck(enchantmentbuy.item)">
                                            Enchanter
                                        </v-btn>
                                    </template>
                                    <template v-else>
                                        <v-btn @click="changeCheck(enchantmentbuy.item)" disabled>
                                            Enchanter
                                        </v-btn>
                                    </template>

                                </template>

                            </template>
                        </template>

                    </v-col>
                    <v-col class="d-flex align-center" cols="2">

                        {{enchantment.cout}}
                        <v-img :src="require('../../src/assets/Equipments/diamond.gif')" contain height="20px"
                               width="20px"></v-img>


                    </v-col>
                </v-row>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "enchantments",
        props: {
            'enchantments': Array,
            'addItem': Function,
            'listEnchantments': Array
        },
        data() {
            return {
                checkEnchantmentBuy: [],

            }
        },
        computed: {
            xp() {
                return this.$store.state.xp
            },
            diamonds() {
                return this.$store.state.diamonds
            },
            listEnchantmentsBuy() {
                return this.$store.state.listEnchantments
            }
        },
        mounted() {
            this.enchantments.forEach(enchantment => {
                let checkedEnchant = {};
                checkedEnchant.item = enchantment;
                let check = false;
                this.listEnchantmentsBuy.forEach(buy => {
                    if (buy.item === enchantment) {
                        check = true;
                        checkedEnchant.check = true;
                    }
                });
                if (!check) {
                    checkedEnchant.check = false;
                }
                this.checkEnchantmentBuy.push(checkedEnchant);
            });

        },
        methods: {
            changeCheck(itemtoCheck) {
                let check = false;
                this.checkEnchantmentBuy.forEach(item => {
                    if (item.item == itemtoCheck) {
                        check = true;
                        item.check = true;
                        this.addItem(itemtoCheck);

                    }
                });
                if (!check) {
                    let newitem = {};
                    newitem.item = itemtoCheck
                    newitem.check = true;
                    this.checkEnchantmentBuy.push(newitem);
                    this.addItem(itemtoCheck);
                }


            }
        },
    }
</script>

<style scoped>

</style>