<template>
        <v-row >
            <v-col v-for="equipment in equipments" cols="12">
            <v-card class="mx-1" outlined>
                    <v-row>
                        <v-col  cols="2" >
                            <v-img  class="ml-1" contain :src="require('../../src/assets/Equipments/'+equipment.image)">

                            </v-img>
                        </v-col>
                        <v-col cols="4" >
                            <v-card-title class="minecraft-font" style="word-break: keep-all">{{equipment.name}}</v-card-title>

                            <v-card-subtitle>{{equipment.description}}</v-card-subtitle>
                        </v-col>

                        <v-col class="d-flex align-center minecraft-font" cols="1">
                            <template v-for="item in listEquipments">
                                <template v-if="item.item===equipment">
                                    X{{item.quantity}}
                                </template>
                            </template>
                        </v-col>

                        <v-col class="d-flex align-center minecraft-font" cols="3">

                            <v-btn v-if="equipment.cout>xp" disabled>
                                Crafter
                            </v-btn>
                            <v-btn v-if="equipment.cout<=xp" @click="addItem(equipment)" enabled>
                                Crafter
                            </v-btn>
                        </v-col>
                        <v-col cols="2" class="d-flex align-center minecraft-font">

                            {{ $format(equipment.cout) }}
                            <v-img max-height="20px" max-width="20px" contain :src="require('../../src/assets/Equipments/Experience_Orb.gif')">  </v-img>

                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>

</template>

<script>
    export default {
        name: "Equipments",
        props: {
            'equipments':Array,
            'addItem':Function,
            'listEquipments':Array
        },
        data () {
            return {

            }
        },
        computed:{
            xp() { return this.$store.state.xp }
        },
        watch:{

        }


    }
</script>

<style scoped>

</style>