<template>
  <v-card height="350px">
    <v-navigation-drawer :value="classement" :width="drawerWidth" app clipped left>
      <v-tabs dark fixed-tabs>
        <v-tab class="minecraft-font" href="#achievement">Succes</v-tab>
        <v-tab class="minecraft-font" href="#leaderboard">Classement</v-tab>
        <v-tab-item :key="1" value="achievement">
          <Achievements :achievements="achievements" :checkAchievements="checkAchievements" />
        </v-tab-item>
        <v-tab-item :key="2" value="leaderboard">
          <Leaderboard :records="records" />
        </v-tab-item>
      </v-tabs>
    </v-navigation-drawer>

    <Clicker />

    <v-navigation-drawer :value="shop" :width="drawerWidth" app clipped right>
      <v-tabs dark fixed-tabs>
        <v-tab class="minecraft-font" href="#equipments">Equipements</v-tab>
        <v-tab class="minecraft-font" href="#partner">Compagnons</v-tab>
        <v-tab class="minecraft-font" href="#enchantments">Enchantements</v-tab>
        <v-tab-item :key="1" value="equipments">
          <Equipments
            :addItem="addItem"
            :equipments="items['equipments']"
            :listEquipments="listEquipments"
          />
        </v-tab-item>
        <v-tab-item :key="3" value="partner">
          <Partner :addItem="addItem" :listPartners="listPartners" :partners="items['partners']" />
        </v-tab-item>
        <v-tab-item :key="2" value="enchantments">
          <Enchantments
            :addItem="addItem"
            :enchantments="items['enchantments']"
            :listEnchantments="listEnchantments"
          />
        </v-tab-item>
      </v-tabs>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
import Clicker from "./Clicker";
import Achievements from "./achievements";
import Leaderboard from "./leaderboard";
import Equipments from "./equipments";
import Enchantments from "./enchantments";
import Partner from "./partner";

export default {
  name: "Home",
  components: {
    Clicker,
    Achievements,
    Leaderboard,
    Equipments,
    Enchantments,
    Partner
  },
  props: {
    checkAchievements: Function
  },
  data() {
    return {
      diamondsPlayer: 0,
      drawerWidth: "33%",
      windowWidth: 0
    };
  },
  mounted() {
    this.setDrawerWidth(window.innerWidth);
    this.$nextTick(() => {
      window.addEventListener("resize", () => {
        this.windowWidth = window.innerWidth;
      });
      window.addEventListener("click", () => {
        this.playAudioCalm();
      });
    });
  },
  watch: {
    windowWidth(newWidth) {
      this.setDrawerWidth(newWidth);
    }
  },
  methods: {
    setDrawerWidth(width) {
      if (width > 960) {
        this.drawerWidth = "33%";
        this.$store.state.classement = true;
        this.$store.state.shop = true;
      } else {
        this.$store.state.mobileNavbarActive = "combat";
        this.drawerWidth = "100%";
        this.$store.state.classement = false;
        this.$store.state.shop = false;
      }
    },
    addItem(item) {
      let newitem = {};
      newitem.item = item;
      newitem.quantity = 1;
      if (item.type === "equipment") {
        let crafterAudio = new Audio(
          require("../../src/assets/music/crafter.ogg")
        );

        crafterAudio.play();
        let check = false;
        this.$store.state.listEquipments.forEach(equipment => {
          if (equipment.item === newitem.item) {
            check = true;
            equipment.quantity++;
          }
        });
        if (!check) {
          this.$store.state.listEquipments.push(newitem);
        }
        this.$store.state.xp = this.$store.state.xp - item.cout;
      } else if (item.type === "partner") {
        let check = false;
        let recruterAudio = new Audio(
          require("../../src/assets/music/" + item.name + ".ogg")
        );

        recruterAudio.play();
        this.$store.state.listPartners.forEach(partner => {
          if (partner.item === newitem.item) {
            check = true;
            partner.quantity++;
          }
        });
        if (!check) {
          this.$store.state.listPartners.push(newitem);
        }
        this.$store.state.xp = this.$store.state.xp - item.cout;
      } else {
        let check = false;
        let enchanterAudio = new Audio(
          require("../../src/assets/music/enchanter.ogg")
        );

        enchanterAudio.play();
        this.$store.state.listEnchantments.forEach(enchantment => {
          if (enchantment.item === newitem.item) {
            check = true;
            enchantment.quantity++;
          }
        });
        if (!check) {
          this.$store.state.listEnchantments.push(newitem);
        }
        this.$store.state.diamonds = this.$store.state.diamonds - item.cout;
      }
      if (item.typeeffect === "DPC") {
        if (item.operator === "+") {
          this.$store.state.dpcDamage += item.damage;
        }
      } else if (item.typeeffect === "DPS") {
        if (item.operator === "+") {
          this.$store.state.dpsDamage += item.damage;
        }
      } else if (item.typeeffect === "diamant") {
        if (item.operator === "%") {
          this.dropRateDiamonds += item.damage;
        }
      }
      this.checkAchievements();
    },
    playAudioCalm() {
      let calmAudio = new Audio(require("../../src/assets/music/calm.ogg"));
      let that = this;

      calmAudio.play();
    },
    loadSave() {}
  },
  computed: {
    items() {
      return this.$store.state.items;
    },
    listEquipments() {
      return this.$store.state.listEquipments;
    },
    listPartners() {
      return this.$store.state.listPartners;
    },
    listEnchantments() {
      return this.$store.state.listEnchantments;
    },
    xp() {
      return this.$store.state.xp;
    },
    diamonds() {
      return this.$store.state.xp;
    },
    achievements() {
      return this.$store.state.achievements;
    },
    records() {
      return this.$store.state.records;
    },
    classement() {
      return this.$store.state.classement;
    },
    shop() {
      return this.$store.state.shop;
    }
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScrollFunction);
  }
};
</script>
<style scoped>
</style>