<template>
  <v-row>
    <v-col v-for="record in records" cols="12">
      <v-card outlined class="mx-1">
        <v-flex class="justify-center">
          <v-card-title class="minecraft-font">{{record.holder}}</v-card-title>
          <v-card-subtitle>{{record.name}} avec {{record.value}}</v-card-subtitle>
        </v-flex>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "records",
  props: ["records"],
  data() {
    return {};
  }
};
</script>

<style scoped>
</style>