<template>
    <v-bottom-navigation
            hide-on-scroll
            scroll-threshold="500"
            class="d-md-none bottom-nav"
            fixed
            :value="mobileNavbarActive"
            style="z-index: 10;"
    >
        <v-btn @click="showClassement" value="classement">
            <span>Classements</span>
            <v-icon>mdi-chevron-triple-up</v-icon>
        </v-btn>

        <v-btn @click="showCombat" value="combat">
            <span>Combat</span>
            <v-icon>mdi-sword-cross</v-icon>
        </v-btn>

        <v-btn @click="showShop" value="shop">
            <span>Magasin</span>
            <v-icon>mdi-cart</v-icon>
        </v-btn>
    </v-bottom-navigation>
</template>

<script>
    export default {
        name: "MobileNavbar",
        computed: {
            mobileNavbarActive() {
                return this.$store.state.mobileNavbarActive;
            }
        },
        methods: {
            showClassement() {
                this.$store.state.classement = true;
                this.$store.state.shop = false;
            },
            showShop() {
                this.$store.state.classement = false;
                this.$store.state.shop = true;
            },
            showCombat() {
                this.$store.state.classement = false;
                this.$store.state.shop = false;
            }
        }
    }
</script>

<style scoped>
</style>