<template>
  <div>
    <v-app-bar app clipped-left clipped-right :src="require('../assets/appbar_bg.png')">
      <template v-slot:img="{ props }">
        <v-img v-bind="props" gradient="to top, rgba(255,255,255,.2), rgba(255,255,255,.2)" />
      </template>
      <v-img
        :src="require('../assets/Logo_Sword.png')"
        contain
        class="mx-3 mt-3"
        max-height="225px"
        max-width="225px"
      />
      <v-spacer />
      <v-tooltip v-if="!loggedIn" bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on" @click="dialog.active = true">
            <v-icon color="white">mdi-login-variant</v-icon>
          </v-btn>
        </template>
        <span>Connexion</span>
      </v-tooltip>
      <v-btn :loading="saving" v-if="loggedIn" @click="save" color="success">
        <span class="d-md-block d-none">Sauvegarder</span>
        <v-icon class="ml-md-2">mdi-content-save</v-icon>
      </v-btn>
      <v-tooltip v-if="loggedIn" bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on" @click="logout">
            <v-icon color="white">mdi-logout-variant</v-icon>
          </v-btn>
        </template>
        <span>Déconnexion</span>
      </v-tooltip>
    </v-app-bar>
    <auth-dialog :properties="dialog" />
  </div>
</template>

<script>
import AuthDialog from "./AuthDialog";
export default {
  name: "Navigation",
  components: { AuthDialog },
  data: () => ({
    dialog: {
      active: false
    },
    saving: false
  }),
  computed: {
    loggedIn() {
      return this.$store.state.loggedIn;
    }
  },
  methods: {
    logout() {
      localStorage.removeItem("user");
      localStorage.removeItem("token");
      this.$store.state.loggedIn = false;
      this.$store.state.snackbar.color = "success";
      this.$store.state.snackbar.text = "Déconnecté";
      this.$store.state.snackbar.active = true;
    },
    save() {
      this.saving = true;
      let save = {};
      save.owned = [];
      this.$store.state.listEquipments.forEach(e => {
        save.owned.push({
          id: e.item._id,
          quantity: e.quantity
        });
      });
      this.$store.state.listPartners.forEach(e => {
        save.owned.push({
          id: e.item._id,
          quantity: e.quantity
        });
      });
      this.$store.state.listEnchantments.forEach(e => {
        save.owned.push({
          id: e.item._id,
          quantity: e.quantity
        });
      });
      save.xp = this.$store.state.xp;
      save.diamonds = this.$store.state.diamonds;
      save.emeralds = 0;
      save.kills = [];
      save.achievements = [];
      save.stage = this.$store.state.stageInfo.lvl;
      this.checkRecords();
      fetch(process.env.VUE_APP_API_URL + "/save", {
        headers: {
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("token")
        },
        method: "POST",
        body: JSON.stringify(save)
      })
        .then(response => {
          if (response.status === 200) {
            this.$store.state.snackbar.color = "success";
            this.$store.state.snackbar.text = "Sauvegardé";
            this.$store.state.snackbar.active = true;
          } else {
            this.$store.state.snackbar.color = "error";
            this.$store.state.snackbar.text = "Erreur lors de la sauvegarde";
            this.$store.state.snackbar.active = true;
          }
        })
        .catch(err => {
          this.$store.state.snackbar.color = "error";
          this.$store.state.snackbar.text = "Erreur lors de la sauvegarde";
          this.$store.state.snackbar.active = true;
        });
      this.saving = false;
    },
    checkRecords() {
      let swords = 0;
      let companions = 0;
      let kills = 0;
      let recordKills;
      let recordLvl;
      let recordXp;
      let recordSwords;
      let recordDiamond;
      let recordCompanion;
      this.$store.state.records.forEach(r => {
        switch (r.id) {
          case "most_kill":
            recordKills = r.value;
            break;
          case "most_lvl":
            recordLvl = r.value;
            break;
          case "most_xp":
            recordXp = r.value;
            break;
          case "most_sword":
            recordSwords = r.value;
            break;
          case "most_diamond":
            recordDiamond = r.value;
            break;
          case "most_companion":
            recordCompanion = r.value;
            break;
          default:
            break;
        }
      });

      this.$store.state.listEquipments.forEach(e => {
        swords = swords + e.quantity;
      });
      this.$store.state.listPartners.forEach(e => {
        companions = companions + e.quantity;
      });

      if (recordKills < kills) {
        this.sendRecordInDB("most_kill", kills, "Le plus de monstres tués");
      }
      if (recordLvl < this.$store.state.stageInfo.lvl) {
        this.sendRecordInDB(
          "most_lvl",
          this.$store.state.stageInfo.lvl,
          "Le niveau le plus haut atteint"
        );
      }
      if (recordXp < this.$store.state.xp) {
        this.sendRecordInDB(
          "most_xp",
          this.$store.state.xp,
          "Le plus d'expériences reçu"
        );
      }
      if (recordSwords < swords) {
        this.sendRecordInDB("most_sword", swords, "Le plus d'épées forgés");
      }
      if (recordDiamond < this.$store.state.diamonds) {
        this.sendRecordInDB(
          "most_diamond",
          this.$store.state.diamonds,
          "Le plus de diamants minés"
        );
      }
      if (recordCompanion < companions) {
        this.sendRecordInDB("most_sword", companions, "Le plus d'épées forgés");
      }
    },
    sendRecordInDB(id, value, name) {
      let record = {};
      record.id = id;
      record.value = value;
      record.name = name;
      console.log(record);
      fetch(process.env.VUE_APP_API_URL + "/record/save", {
        headers: {
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("token")
          //use token to get user id and then pseudo
        },
        method: "POST",
        body: JSON.stringify(record)
      })
        .then(response => {
          if (response.status !== 200) {
            this.$store.state.snackbar.color = "error";
            this.$store.state.snackbar.text = "Erreur lors du record";
            this.$store.state.snackbar.active = true;
          }
        })
        .catch(err => {
          this.$store.state.snackbar.color = "error";
          this.$store.state.snackbar.text = "Erreur lors de la sauvegarde";
          this.$store.state.snackbar.active = true;
        });
    }
  }
};
</script>

<style scoped>
</style>