<template>
    <v-row >
    <v-col v-for="partner in partners" cols="12">
            <v-card
                    outlined

                    class="mx-1">
            <v-row>
                <v-col  cols="2" >
                    <v-img  class="ml-1" contain max-width="160px" max-height="160px" :src="require('../../src/assets/Partners/'+partner.name+'.png')">

                    </v-img>
                </v-col>
                <v-col cols="4" >
                    <v-card-title class="minecraft-font">{{partner.name}}</v-card-title>
                    <v-card-subtitle>{{partner.description}}</v-card-subtitle>
                </v-col>

                <v-col class="d-flex align-center minecraft-font" cols="1">
                    <template v-for="item in listPartners">
                        <template v-if="item.item===partner">
                            X{{item.quantity}}
                        </template>
                    </template>
                </v-col>
                <v-col  cols="3" class="d-flex align-center">
                    <v-btn v-if="partner.cout>xp" disabled>
                        Recruter
                    </v-btn>

                    <v-btn v-if="partner.cout<=xp"  @click="addItem(partner)" enabled>
                        Recruter
                    </v-btn>

                </v-col>
                <v-col cols="2" class="d-flex align-center minecraft-font">

                    {{$format(partner.cout)}}
                    <v-img height="20px" width="20px" contain :src="require('../../src/assets/Equipments/Experience_Orb.gif')">  </v-img>

                </v-col>
            </v-row>
        </v-card>
    </v-col>
    </v-row>
</template>

<script>

    export default {
        name: "store",
        props: {
            'partners':Array,
            'addItem':Function,
            'listPartners':Array

        },
        data(){
            return{

            }
        },
        computed:{
            xp() { return this.$store.state.xp }
        }
    }
</script>

<style scoped>

</style>