<template>
    <v-container>
    <v-snackbar
            v-model="snackbar.active"
            :color="snackbar.color"
            :timeout="5000"
    >
        {{ snackbar.text }}
        <v-btn
                icon
                @click="snackbar.active = false"
        >
            <v-icon>mdi-close</v-icon>
        </v-btn>
    </v-snackbar>
    <v-snackbar
            v-model="achievementSnack.active"
            :color="achievementSnack.color"
            :timeout="5000"
            top
    >
        <v-img
                class="mr-2"
                contain
                max-width="40px"
                max-height="40px"
                :src="require('../../src/assets/Equipments/'+achievementSnack.image)"
        />
        <span class="minecraft-font">{{ achievementSnack.text }}</span>
        <v-btn
                icon
                @click="achievementSnack.active = false"
        >
            <v-icon>mdi-close</v-icon>
        </v-btn>
    </v-snackbar>
    </v-container>
</template>

<script>
    export default {
        name: "Snackbar",
        computed: {
            snackbar () {
                return this.$store.state.snackbar
            },
            achievementSnack() {
                return this.$store.state.achievementSnack
            }
        },
    }
</script>

<style scoped>

</style>