<template>
  <v-app>
    <v-content>
      <template v-if="show">
        <Navigation />
        <Home :checkAchievements="checkAchievements"/>
        <snackbar />
        <MobileNavbar />
      </template>
    </v-content>
  </v-app>
</template>

<script>
    import Navigation from "./components/Navigation";
    import Home from './components/Home';
    import Snackbar from "./components/Snackbar";
    import MobileNavbar from "./components/MobileNavbar";

    export default {
        name: 'App',

        components: {
            MobileNavbar,
            Snackbar,
            Navigation,
            Home,
        },
        data() {
            return {
                show:false,
            }
        },

        mounted() {
            this.$store.state.loggedIn = !!localStorage.getItem('token');
            fetch(process.env.VUE_APP_API_URL + '/mob/all').then(response => {
                response.json().then(data => {

                    this.$store.state.mobs = data;
                }).then(() => {
                        fetch(process.env.VUE_APP_API_URL + '/biome/all').then(response => {
                            response.json().then(data => {
                                this.$store.state.biomes = data;
                            }).then(()=>{
                                fetch(process.env.VUE_APP_API_URL + "/item/all")
                                    .then(response => {
                                        response.json().then(data => {
                                            this.$store.state.items = data;
                                        });
                                    }).then(() => {
                                        fetch(process.env.VUE_APP_API_URL + "/record/all")
                                    .then(response => {
                                        response.json().then(data => {
                                            console.log(data);
                                            this.$store.state.records = data;
                                        });
                                    }).then(() => {
                                    fetch(process.env.VUE_APP_API_URL + '/achievement/all').then(response => {
                                        response.json().then(data => {
                                            this.$store.state.achievements = data;
                                        }).then(() => {
                                   

                                    if(!!localStorage.getItem('token')){
                                        fetch(process.env.VUE_APP_API_URL + '/load', {
                                            headers: {
                                                'Authorization': localStorage.getItem('token')
                                            },
                                            method: 'GET'
                                        }).then(response => {

                                            if (response.status !== 200) {
                                                this.$store.state.snackbar.color = 'error';
                                                this.$store.state.snackbar.text = "Erreur lors du chargement de la sauvegarde";
                                                this.$store.state.snackbar.active = true;
                                                this.show=true;
                                            }else{
                                                response.json().then((data)=>{

                                                    let saveStage={};
                                                    this.$store.state.stageInfo.lvl=data.stage;
                                                    this.$store.state.xp=data.xp;
                                                    this.$store.state.diamonds=data.diamonds;

                                                    data.owned.forEach(data=>{
                                                        this.$store.state.items['equipments'].forEach((item)=>{
                                                            if(item._id===data.id){
                                                                let saveData={};
                                                                saveData.item=item;
                                                                saveData.quantity=data.quantity
                                                                this.$store.state.listEquipments.push(saveData);
                                                                if (item.typeeffect === "DPC") {
                                                                    if (item.operator === "+") {
                                                                        this.$store.state.dpcDamage += item.damage*data.quantity;
                                                                    }
                                                                } else if (item.typeeffect === "DPS") {
                                                                    if (item.operator === "+") {
                                                                        this.$store.state.dpsDamage += item.damage*data.quantity;
                                                                    }
                                                                } else if (item.typeeffect === "diamant") {
                                                                    if (item.operator === '%') {
                                                                        this.$store.state.dropRateDiamonds += item.damage*data.quantity;
                                                                    }
                                                                }
                                                            }
                                                        });
                                                        this.$store.state.items['partners'].forEach((item)=>{
                                                            if(item._id===data.id){
                                                                let saveData={};
                                                                saveData.item=item;
                                                                saveData.quantity=data.quantity
                                                                this.$store.state.listPartners.push(saveData);
                                                                if (item.typeeffect === "DPC") {
                                                                    if (item.operator === "+") {
                                                                        this.$store.state.dpcDamage += item.damage*data.quantity;
                                                                    }
                                                                } else if (item.typeeffect === "DPS") {
                                                                    if (item.operator === "+") {
                                                                        this.$store.state.dpsDamage += item.damage*data.quantity;
                                                                    }
                                                                } else if (item.typeeffect === "diamant") {
                                                                    if (item.operator === '%') {
                                                                        this.$store.state.dropRateDiamonds += item.damage*data.quantity;
                                                                    }
                                                                }
                                                            }
                                                        });
                                                        this.$store.state.items['enchantments'].forEach((item)=>{
                                                            if(item._id===data.id){
                                                                let saveData={};
                                                                saveData.item=item;
                                                                saveData.quantity=data.quantity;
                                                                this.$store.state.listEnchantments.push(saveData);
                                                                if (item.typeeffect === "DPC") {
                                                                    if (item.operator === "+") {
                                                                        this.$store.state.dpcDamage += item.damage*data.quantity;
                                                                    }
                                                                } else if (item.typeeffect === "DPS") {
                                                                    if (item.operator === "+") {
                                                                        this.$store.state.dpsDamage += item.damage*data.quantity;
                                                                    }
                                                                } else if (item.typeeffect === "diamant") {
                                                                    if (item.operator === '%') {
                                                                        this.$store.state.dropRateDiamonds += item.damage*data.quantity;
                                                                    }
                                                                }
                                                            }
                                                        });
                                                    })
                                                    this.show=true;
                                                });
                                            }




                                        }).catch(err => {
                                            this.$store.state.snackbar.color = 'error';
                                            this.$store.state.snackbar.text = "Erreur lors du chargement de la sauvegarde";
                                            this.$store.state.snackbar.active = true;
                                        });
                                    }
                                    else{
                                        this.show=true;
                                    }

                                })
                                    .catch(e => {
                                        console.error(e);
                                    });
                            })
                        }).catch(e => {
                            console.error(e)
                        });
                    }
                )
            }).catch(e => {
                console.error(e)
            })
            }).catch(e => {
                console.error(e)
            })
            }).catch(e => {
                console.error(e)
            })
            })
        },
        methods:{
          checkAchievements(load = false) {
            this.$store.state.achievements.forEach(a => {
              if (a.parentItem) {
                this.$store.state.listEquipments.forEach((i) => {
                  if (a.parentItem === i.item.id && a.condition <= i.quantity && document.getElementById(a.id).classList.contains('success-disabled')) {
                    document.getElementById(a.id).classList.remove('success-disabled');
                    document.getElementById(a.id).classList.add('success-enabled');
                    if (!load) this.showAchievement(a);
                  }
                });
                this.$store.state.listEnchantments.forEach((i) => {
                  if (a.parentItem === i.item.id && a.condition <= i.quantity && document.getElementById(a.id).classList.contains('success-disabled')) {
                    document.getElementById(a.id).classList.remove('success-disabled');
                    document.getElementById(a.id).classList.add('success-enabled');
                    if (!load) this.showAchievement(a);
                  }
                });
                this.$store.state.listPartners.forEach((i) => {
                  if (a.parentItem === i.item.id && a.condition <= i.quantity && document.getElementById(a.id).classList.contains('success-disabled')) {
                    document.getElementById(a.id).classList.remove('success-disabled');
                    document.getElementById(a.id).classList.add('success-enabled');
                    if (!load) this.showAchievement(a);
                  }
                })
              }
            })
          },
          showAchievement(a) {
            this.$store.state.achievementSnack.image = a.image;
            this.$store.state.achievementSnack.text = a.description;
            this.$store.state.achievementSnack.active = true;
          }
        }
    };
</script>
<style>
body {
  user-select: none;
}

.minecraft-font,
.v-btn {
  font-family: "minecraft", sans-serif;
}

.success-disabled {
  background-color: #b2b2b2;
}

.success-enabled {
  background-color: #65f738;
}

@font-face {
  font-family: "minecraft";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/minecraft.woff") format("woff");
}

@font-face {
  font-family: "VCR OSD Mono";
  font-style: normal;
  font-weight: normal;
  src: local("VCR OSD Mono"),
    url("assets/fonts/damage_font.woff") format("woff");
}
</style>